@charset "UTF-8";
/**
 * sherlock221b
 * rem常用设计函数
 */
/**
 * sherlock221b
 * 动画部分常用
 */
/**
 * sherlock221b
 * table布局方式
 */
.tb-box {
  display: table; }
  .tb-box .tb-row {
    display: table-row; }
  .tb-box .tb-col {
    display: table-cell; }
  .tb-box .tb-vt {
    vertical-align: top; }
  .tb-box .tb-mt {
    vertical-align: middle; }
  .tb-box .tb-bt {
    vertical-align: bottom; }

.bg-light-green {
  background: #90c124; }

.bg-green {
  background: #5fc124; }

.bg-light-red {
  background: #ff4600; }

.bg-light-purple {
  background: #cf2cb2; }

.bg-light-yellow {
  background: #ffcd2d; }

.bg-light-blue {
  background: #60a5f4; }

.bg-light-og {
  background: #f67900; }

.icon {
  background-image: url("../imgs/icon/mp_icon.png"); }

.icon-opr-add {
  width: 16px;
  height: 16px;
  background-position: 0 -4282px; }

.icon-opr-menu {
  width: 16px;
  height: 16px;
  background-position: 0 -4230px; }

.icon-14-opr-add {
  width: 14px;
  height: 14px;
  background-position: 0 -3447px; }

.icon-14-opr-menu {
  width: 14px;
  height: 14px;
  background-position: 0 -3591px; }

.icon-menu {
  background-image: url("../imgs/icon/mp_menu.png");
  width: 114px;
  height: 114px; }

.icon-menu-addsub {
  background-position: 0 0; }
  .icon-menu-addsub:hover {
    background-position: 0 -124px; }

.icon-menu-message {
  background-position: 0 -248px; }
  .icon-menu-message:hover {
    background-position: 0 -372px; }

.icon-menu-url {
  background-position: 0 -496px; }
  .icon-menu-url:hover {
    background-position: 0 -620px; }

.s1_header_top {
  background-image: url("../imgs/s1_8_header_bg.png");
  width: 100%;
  height: inherit;
  background-size: 100% 100%; }

.welcome_img {
  background-image: url("../imgs/s1_24_welcome.png");
  background-size: 100% 100%;
  width: 11.05067rem;
  height: 4.032rem; }

header {
  background-color: #ffa92d;
  height: 82px; }
  header .logo {
    width: 500px;
    margin-top: 20px; }
    header .logo img {
      width: 100px; }
    header .logo .left-text {
      font-size: 26px; }
  header .userinfo {
    width: 240px;
    margin-top: -30px;
    float: right; }
    header .userinfo img {
      width: 60px; }
    header .userinfo .right-text {
      font-size: 16px; }

.container {
  width: 1200px;
  margin: 0 auto; }

.text-default {
  color: #ffffff; }

.ib {
  display: inline-block; }

footer {
  bottom: 0;
  height: 130px;
  background-color: black; }
  footer .text {
    text-align: center;
    font-size: 14px;
    padding-top: 35px;
    padding-bottom: 30px; }
    footer .text .qq {
      color: #ffa92d; }
    footer .text .tel {
      color: #ffffff; }
  footer ul {
    margin-left: -30px; }
    footer ul li {
      list-style: none;
      padding-left: 30px;
      padding-right: 30px;
      height: 18px;
      float: left;
      border-right: 1px solid #7c7c7c;
      text-align: center;
      color: #7c7c7c;
      font-size: 14px; }
      footer ul li:last-child {
        border: none; }
  footer .text-center {
    text-align: center; }

a {
  color: inherit; }
  a:hover {
    color: inherit;
    text-decoration: none; }

.bl-a {
  color: #459ae9;
  text-decoration: none; }
  .bl-a:hover {
    color: #459ae9;
    text-decoration: underline; }

p {
  margin-bottom: 0; }

i {
  cursor: pointer; }

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: none; }

.btn-sm {
  padding: 3px 10px !important; }

/**
 * sherlock221b
 */
.menu-layer {
  border: 1px solid #e7e7eb;
  background-color: #fff; }
  .menu-layer .menu-content {
    min-height: 530px; }
    .menu-layer .menu-content .menu-left {
      min-height: 530px;
      border-right: 1px solid #e7e7eb;
      padding-right: 0; }
      .menu-layer .menu-content .menu-left .menu-list-nav {
        background: #f4f5f9;
        padding: 0px 12px;
        height: 41px;
        width: 100%;
        border-bottom: 1px solid #e7e7eb; }
      .menu-layer .menu-content .menu-left .menu-list .menu-item-list .dot {
        color: #d5d5d5;
        font-size: 10px;
        margin-right: 6px; }
      .menu-layer .menu-content .menu-left .menu-list .menu-item-list > li > a {
        display: block;
        padding-left: 36px;
        padding-top: 6px;
        padding-bottom: 6px; }
        .menu-layer .menu-content .menu-left .menu-list .menu-item-list > li > a:hover {
          background: #f4f5f9; }
        .menu-layer .menu-content .menu-left .menu-list .menu-item-list > li > a.active {
          background: #f4f5f9; }
      .menu-layer .menu-content .menu-left .menu-list .menu-op {
        float: right;
        position: relative;
        top: -1px;
        padding-right: 13px; }
      .menu-layer .menu-content .menu-left .menu-list > li {
        border-bottom: 1px solid #e7e7eb; }
        .menu-layer .menu-content .menu-left .menu-list > li > a {
          display: block;
          padding-left: 20px;
          padding-top: 6px;
          padding-bottom: 6px; }
          .menu-layer .menu-content .menu-left .menu-list > li > a:hover {
            background: #f4f5f9; }
          .menu-layer .menu-content .menu-left .menu-list > li > a.active {
            background: #f4f5f9; }
    .menu-layer .menu-content .menu-right {
      min-height: 530px;
      padding-left: 0; }
      .menu-layer .menu-content .menu-right .menu-right-top {
        width: 100%;
        background: #f4f5f9;
        padding: 10px 12px;
        border-bottom: 1px solid #e7e7eb; }
      .menu-layer .menu-content .menu-right .menu-types {
        text-align: center; }
        .menu-layer .menu-content .menu-right .menu-types .dc {
          padding-top: 80px;
          color: #8d8d8d;
          padding-bottom: 60px; }
        .menu-layer .menu-content .menu-right .menu-types a {
          margin-right: 35px; }
          .menu-layer .menu-content .menu-right .menu-types a i {
            margin-bottom: 5px; }
          .menu-layer .menu-content .menu-right .menu-types a:last-child {
            margin-right: 0; }
      .menu-layer .menu-content .menu-right .no-menu-select {
        text-align: center; }
        .menu-layer .menu-content .menu-right .no-menu-select p {
          padding-top: 80px;
          color: #8d8d8d; }
  .menu-layer .menu-bottom {
    background: #f4f5f9;
    padding: 12px 16px;
    border-top: 1px solid #e7e7eb;
    text-align: center; }

/*# sourceMappingURL=all.css.map */
