//图标

.icon{
  background-image: url("../imgs/icon/mp_icon.png");
}

$iconMpWidth : 16px;
$iconMpHeight : 16px;

.icon-opr-add{
  width: $iconMpWidth;
  height: $iconMpHeight;
  background-position: 0 -4282px;
}

.icon-opr-menu{
  width: $iconMpWidth;
  height: $iconMpHeight;
  background-position : 0 -4230px;

}


.icon-14-opr-add{
  width: 14px;
  height: 14px;
  background-position : 0 -3447px;
}
.icon-14-opr-menu{
  width: 14px;
  height: 14px;
  background-position : 0 -3591px;
}



.icon-menu{
  background-image: url("../imgs/icon/mp_menu.png");
  width: 114px;
  height: 114px;
}


.icon-menu-addsub{
  background-position:  0 0;
  &:hover{
    background-position: 0 -124px;
  }

}

.icon-menu-message{
  background-position:  0 -248px;
  &:hover{
    background-position: 0 -372px;
  }

}

.icon-menu-url{
  background-position:  0 -496px;
  &:hover{
    background-position: 0 -620px;
  }
}